.head{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}
.select-head{
    display: block;
    width: 100%;
}
.btn-class{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
}
.btn-head{
    font-size: 20px;
    width: 100%;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
}
.form-head{
    background-color: indigo;
    color: white;
}

.btn-icon{
    font-size: 12px;
    margin: 0 5px;
}
.btn-view{
    max-width: 100px;
}

