.modal-input{
    color: black;
}
.modal-input:focus{
    color: black;
}
.btn-modal-footer{
    margin-left: 15px;
    min-width: 90px;
}
.modal-header-edit{
    background-color: rgba(50,31,229);
    color: white;
}