.btn-addhome{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
.btn-class{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn-head{
    font-size: 20px;
    width: 100%;

}
.btn-edit{
    max-width: 120px;
}
.btn-delete{
    max-width: 80px;
}
tr{
    vertical-align: middle;
}
.btn-icon{
    font-size: 12px;
    margin: 0 5px;
}
/* .home-form-head{
    background-color: rgb(240, 245, 255);
} */