.modal-header-villager-payment{
    background-color: #75ccb9;
    color: white;
}

.modal-input-disable{
    color: gray;
}
.btn-modal-footer{
    margin-left: 15px;
    min-width: 90px;
}

.btn-icon-footer{
    margin: 0 5px;
}

.badge-modal{
    font-size: 16px;
}


