.head{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.span-head{
    margin: 0 5px;
}
.btn-head{
    font-size: 20px;
    width: 100%;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
}
.btn-class{
    width: 100%;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.5);
}
.btn-edit{
    max-width: 120px;
}
.btn-icon{
    font-size: 12px;
    margin: 0 5px;
}
.btn-back{
    width: 100%;
}
.btn-save-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-parking-head{
    background-color: #8e0038;
    color: white;
}
.head-card-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-box-edit:hover{
    cursor: pointer;
}

