
.modal-header-parcel-his{
    background-color: #2c387e;
    color: white;
}

.modal-input-disable{
    color: gray;
}
.btn-modal-footer{
    margin-left: 15px;
    min-width: 90px;
}

.btn-icon-footer{
    margin: 0 5px;
}

.badge-modal{
    font-size: 16px;
}


@media screen and (max-width: 600px) {
    .modal-footer{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .modal-footer-item{
        width: 100%;
    }
    .btn-modal-footer{
        margin-left: 0px;
        width: 100%;
        margin: 5px 0;
    }
    .modal-footer-item-sub{
        display: flex;
        flex-direction: column;
    }
}
