.show-combobox{
    display: block;
}

.hide-combobox{
    display: none;
}
.item-combobox{
    max-height: 400px;
    overflow-y: auto;
}
.dropdown-menu{
    background-color: rgb(243, 243, 243);
    width: 100%;
}
.btn-drop{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
