.show-combobox {
  display: block;
}

.hide-combobox {
  display: none;
}
.item-combobox {
  max-height: 400px;
  overflow-y: auto;
}
.dropdown-menu-main {
  background-color: rgb(243, 243, 243);
  width: 100%;
}
.btn-drop {
  width: 100%;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 764px) {
  .btn-drop {
    min-width: 0;
  }
  .btn-drop span {
    min-width: 100px;
    max-width: 300px;
    display: inline-block;
    word-break: break-all;
    overflow-x: auto;
  }
}
