.card-header-cph{
    background-color: #004d40ea;
    color: white;
}

.checkbox-header-info{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px 0 0;
}

.btn-header-info-edit-form{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .btn-header-info-edit-form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .modal-footer-item{
        width: 100%;
    }
    .btn-modal-footer{
        margin-left: 0px;
        width: 100%;
        margin: 5px 0;
    }
    .modal-footer-item-sub{
        display: flex;
        flex-direction: column;
    }
}